<div id="footer">
  <div class="me">
    <div class="overlay"></div>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-128x128">
            <img style="border-radius: 50%" src="static/imgs/user/ma55ddd5ei555ei.jpg">
          </figure>
        </div>
        <div class="media-content">
          <div class="content" style="word-break: break-all;">
            <b style="font-size: 22px;">Tammanoon Jomjaturong</b><br>
            <p style="font-size: 15px">สวัสดีครับ ผมชื่อแม็กซ์นะครับ ตอนนี้กำลังศึกษาอยู่ที่ มหาวิทยาลัยเทคโนโลยีพระจอมเกล้าธนบุรี คณะวิศวกรรมคอมพิวเตอร์ ชั้นปีที่ 2 <br>เชื่อว่าเทคโนโลยีจะทำให้เราใช้ชีวิตได้สบายขึ้น ตอนนี้ยังอ่อนหัดอยู่มาก ฝากเนื้อฝากตัวด้วยนะครับ</p>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="bottom">
    <div class="contents">
      <div>
      © 2017 Mizimax All Rights Reserved. Development by <a href="https://www.facebook.com/Maxza555plus">แม็กซ์เอง</a>
      </div>
      <div class="social">
      facebook github
      </div>
    </div>
  </div>
</div>