<div id="footer">
  <div class="bottom">
    <div class="contents">
      <div>
      © 2017 Mizimax All Rights Reserved. Development by <a href="https://www.facebook.com/Maxza555plus" style="margin-left:6px">แม็กซ์เอง</a>
      </div>
      <div class="social">
        <a class="icon" href="https://www.facebook.com/Maxza555plus">
          <span class="icon">
              <i class="fa fa-facebook"></i>
          </span>
        </a>
        <a class="icon" href="https://github.com/Mizimax">
          <span class="icon">
              <i class="fa fa-github"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>