<nav class="nav has-shadow" style="z-index:9999">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item" routerLink="">
        <span class="myLogo">M</span>
        <h1 class="title is-4" style="color:black">Mizimax</h1>
      </a>
    </div>
    <span class="nav-toggle" (click)="toggle()" [ngClass]="{'is-active': navToggle,'toggle-active':navToggle}">
      <span [ngClass]="{'toggle-span-active': navToggle}"></span>
      <span [ngClass]="{'toggle-span-active': navToggle}"></span>
      <span [ngClass]="{'toggle-span-active': navToggle}"></span>
    </span>
    <div class="nav-center is-hidden-mobile">
      <a class="nav-item is-tab" routerLink="" routerLinkActive="is-active"  [routerLinkActiveOptions]="{exact: true}">
        Home
      </a>
      <a class="nav-item is-tab" routerLink="about" routerLinkActive="is-active">
        About
      </a>
      <a class="nav-item is-tab" routerLink="blog" routerLinkActive="is-active">
        Blog
      </a>
      <a class="nav-item is-tab" routerLink="contact" routerLinkActive="is-active">
        Contact
      </a>
    </div>
    <div class="nav-right nav-menu">
      <div class="has-dropdown">
        <a class="nav-item nav-icon" (click)="dropdownToggle()">
          <span class="icon">
            <i class="fa fa-search"></i>
          </span>
        </a>
        <div class="dropdown" [ngClass]="{'show': dropdownOpen}">
          <div class="card">
            <div class="dropdown-content">
              <div class="field has-addons" style="justify-content:center;">
                <p class="control">
                    <input class="input" type="text" [(ngModel)]="searchTxt" placeholder="Search...">
                </p>
                <p class="control">
                    <a class="button is-primary" (click)="dropdownOpen = false" [routerLink]="['blog','search']" [queryParams]="{search: searchTxt || '', page: 1}">
                      <span class="icon">
                        <i class="fa fa-search"></i>
                      </span>
                    </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="nav-item nav-icon" (click)="modalOpen()">
        <span class="icon">
          <i class="fa fa-user-circle"></i>
        </span>
      </a>
    </div>
  </div>
</nav>