<div class="section">
    <div class="container">
    <loading [height]="400" *ngIf="isLoading"></loading>
        <div class="myContainer" *ngIf="!isLoading">
            <div class="columns">
                <div class="column is-three-quarters" style="margin-top:50px">
                    <h1 class="title is-3">{{article.topic}}</h1>
                    <hr>
                    <div class="content">
                        <figure class="image">
                            <img style="height:50vh" src="static/{{article.pic}}" alt="{{ article.topic }}">
                        </figure>
                        <br>
                        <h2 class="title is-4" align="center">Subtitle</h2>
                        <div class="content is-6" style="padding:20px">
                            <span class="tab"></span>{{ article.content }}
                        </div>
                    </div>
                </div>
                <div id="sidenav" class="column" style="margin-top:50px">
                    <max-side-article></max-side-article>
                </div>
            </div>
            <max-comment [topic]="article.name"></max-comment>
        </div>
    </div>
</div>