<div id="comment">
  <hr>
  <form (ngSubmit)="addComment()">
      <div class="field">
          <label class="label">Message</label>
          <div id="pell" class="pell"></div>
      </div>
      <div id="submit" style="height:74px">
          <div class="g-recaptcha" data-sitekey="6LfxASUUAAAAAAcl1piDOzqbOvzYEVSviWSGGl1q" data-callback="verifyCallback" style="float:left"></div>
          <button class="button is-info" type="submit" style="float:right; margin-top:19px; margin-right: 20px">Comment</button>
      </div>
  </form>
  <br><br>
  <p class="title is-4"><span *ngIf="comments?.length === 0">ยังไม่มี</span>ความคิดเห็น</p>
  <div class="comment" *ngFor="let comment of comments; let i = index">
      <div class="card">
          <div class="card-content" style="padding:1em">
              <div class="commentId">ความคิดเห็นที่ {{ i+1 }}</div>
              <div [innerHTML]="comment.comment" class="content">
              </div>
              <div class="media commentDetail">
                    <div class="media-content" >
                        <p style="font-weight:500;padding-bottom:3px;font-size:14px;text-align:right">{{ comment.created_by }}</p>
                        <p class="subtitle" style="font-size:12px;text-align:right">{{ comment.created_at | date:'medium' }}</p>
                    </div>
                    <div class="media-right">
                        <figure class="image is-40x40">
                        <img style="border-radius: 50%" src="static/imgs/user/{{ comment.created_by }}.jpg" alt="Image">
                        </figure>
                    </div>
                  </div>
          </div>
      </div>
  </div>
</div>