.comment{
    margin-bottom:20px;
    margin-top:20px;
}
.commentId{
    font-size: 14px;
    color:#888;
    margin-bottom:20px;
}
.image.is-40x40 {
    height: 40px;
    width: 40px;
}
#comment{
    width: 75%;
}
@media (max-width: 768px){
    #comment{
        width: 100%;
    }
}