<div id="profile" class="section">
    <div class="container" *ngIf="userProfile.email">
        <div class="myContainer" style="margin-top: 50px;">
            <div class="profile-header columns">
                <div class="column is-one-quarter">
                    <div class="image-container">
                        <img class="image" src='static/imgs/user/{{userProfile.name}}' alt="{{userProfile.name}}">
                        <button *ngIf="itsMe" class="button is-primary" style="width:100%">Edit Picture</button>
                    </div>
                </div>
                <div id="profile-detail" class="column" style="position:relative">
                    <button class="button is-primary top-right" (click)="logout()" *ngIf="itsMe">Logout</button>
                    <h1 class="name">{{ userProfile.name }}</h1>
                    <p class="username">@{{ userProfile.username }}</p>
                </div>
            </div>
        </div>
        <div class="profile-content">
            <div class="tabs is-centered">
                <ul>
                    <li><a routerLink="./" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}">About</a></li>
                    <li><a routerLink="activities" routerLinkActive="is-active">Activities</a></li>
                    <li *ngIf="itsMe"><a routerLink="edit" routerLinkActive="is-active">Edit Profile</a></li>
                    <li><a routerLink="pm" routerLinkActive="is-active">PM</a></li>
                </ul>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
    <loading *ngIf="!userProfile.email" [height]="400" [text]="'Checking Authentication...'"></loading>
</div>