.loading{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.loader{
    height: 2em;
    width: 2em;
    border: 2px solid orangered !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
}