.modal{
    display: flex !important;
    visibility: hidden;
    opacity: 0;
    transition: all .2s ease;
}
.box{
    transform: translateY(-10px);
    transition: transform .1s linear;
}
.modal.is-active > .box{
    transform: translateY(0px); 
}
.modal.is-active{
    opacity: 1;
    visibility: visible;
}