body{
  background: #FCFCFC;
}
a{
  color:orange;
}
.card.animate{
  border-radius: 3px;
  transition: all .3s;
}
.card img{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.myLogo{
  padding-right:5px;
  padding-left:6px;
  border:1px solid orange;
  margin-right:14px;
  color:orange;
}
.section{
  visibility: visible;
  opacity: 1;
  background: #FCFCFC;
  transform: translateY(0px);
  transition: all .5s ease;
}
.section.hidden{
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px)
}
.myContainer{
  width:87%; 
  margin:0 auto;
}
@media (max-width: 1000px){
  .myContainer{
    width:100%;
  }
}
@media screen and (min-width: 769px), print {
  .columns:not(.is-desktop) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}