body{
  background: #FCFCFC;
}
.pell{border-radius:5px;box-shadow:0 2px 3px hsla(0,0%,4%,.1),0 0 0 1px hsla(0,0%,4%,.1)}.pell,.pell-editor{box-sizing:border-box;width:100%}.pell-editor{height:160px;outline:0;overflow-y:auto;padding:10px}.pell-actionbar{background-color:#fff;border-bottom:1px solid hsla(0,0%,4%,.1);border-top-left-radius:5px;border-top-right-radius:5px;width:100%}.pell-button{background-color:transparent;border:none;cursor:pointer;height:30px;outline:0;width:30px}
a{
  color:orange;
}
span.tab{
  margin-left:20px;
}
.card.animate{
  border-radius: 3px;
  transition: all .3s;
}
.card img{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.myLogo{
  padding-right:5px;
  padding-left:6px;
  border:1px solid orange;
  margin-right:14px;
  color:orange;
}
.section{
  visibility: visible;
  opacity: 1;
  background: #FCFCFC;
  transform: translateY(0px);
  transition: all .5s ease;
}
.section.hidden{
  visibility: hidden;
  opacity: 0;
  transform: translateY(-20px)
}
.myContainer{
  width:87%; 
  margin:0 auto;
}
@media (max-width: 1000px){
  .myContainer{
    width:100%;
  }
}
@media screen and (min-width: 769px), print {
  .columns:not(.is-desktop) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}