.articles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.article{
    cursor: pointer;
    width:280px;
    margin:18px;
    transition: transform .1s ease;
}
.article:hover{
    transform: translateY(-2px)
}
.pagination-link:hover, .pagination-link:focus{
    border-color:orange;
}
.pagination-link.is-current{
    background: orange;
    border-color:orange;
}
.category a{
    margin-right:12px;
}
.category a:last-child{
    margin:0;
}
.no-result{
    font-size:22px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.no-result p{
    transform: translateY(-200%);
}
.card:hover{
  -ms-transform: scale(1.03, 1.03); /* IE 9 */
  -webkit-transform: scale(1.03, 1.03); /* Safari */
  transform: scale(1.03, 1.03);
}
@media (max-width: 768px){
    .column{
        text-align: center;
    }
}