<div class="header">
  <div class="overlay"></div>
  <div class="header-content">
    <br>
    <h1 class="title is-4" style="text-align:center; color:white"><span class="myLogo">M</span>Mizimax</h1><br>
    <h2>All about me (Web, Mobile, Technologies, etc.)</h2>
  </div>
</div>
<div class="section">
    <div class="container">
        <div class="myContainer">
        <div class="last-article" style="margin-top:30px">
            <h2 class="h-content"><span>Most Popular Articles</span></h2>
            <loading [height]="300" *ngIf="isLoading"></loading>
            <div class="articles" *ngIf="!isLoading">
                <div class="article" *ngFor="let article of latestArticles" [routerLink]="['blog',article.name]">
                   <a [routerLink]="['/blog/'+article.name]">
                        <div class="card animate">
                            <div class="card-image">
                                <figure class="image is-4by3">
                                <img [src]="'static/imgs/blog/'+article.pic" alt="Image">
                                </figure>
                            </div>
                            <div class="card-content" style="padding:1em">
                                <div class="content">
                                    <h2 class="title is-5">{{ article.topic }}</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<max-footer></max-footer>