.articles{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.article{
    width:290px;
    margin:15px;
    cursor:pointer;
}
.header{
  position: relative;
  height: 450px;
  background: url('static/imgs/header.jpg');
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-color: black;
}
.overlay{
  height: 450px;
  background: rgba(0,0,0,0.6);
}
.header-content{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color:white;
  font-size: 24px;
}